<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.post_mini_project_back.mapper.PostMapper">
    <resultMap id="postResultMap" type="post">
        <id property="postId" column="post_id"/>
        <result property="content" column="content"/>
        <result property="visibility" column="visibility"/>
        <result property="userId" column="pt_user_id"/>
        <result property="createdAt" column="created_at"/>
        <association property="user" resultMap="userResultMap"/>
        <association property="follow" resultMap="followResultMap"/>
        <collection property="imageFiles" resultMap="imageFileResultMap"/>
    </resultMap>
    <resultMap id="userResultMap" type="user">
        <id property="userId" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="imgUrl" column="img_url"/>
    </resultMap>
    <resultMap id="imageFileResultMap" type="imageFile">
        <id property="imageFileId" column="image_file_id"/>
        <result property="filePath" column="file_path"/>
    </resultMap>
    <resultMap id="followResultMap" type="follow">
        <id property="followId" column="follow_id"/>
        <result property="followerId" column="follower_id"/>
        <result property="followingId" column="following_id"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="postId">
        insert into post_tb
        values (default, #{content}, #{visibility}, #{userId}, now())
    </insert>
    <select id="getFeeds" resultMap="postResultMap">
        with temp_post_tb as (
        select
            pt.post_id,
            pt.content,
            pt.visibility,
            pt.user_id as pt_user_id,
            pt.created_at,

            ut.user_id,
            ut.nickname,
            ut.img_url,

            ft.follow_id,
            ft.follower_id,
            ft.following_id

        from

            post_tb pt
            left outer join user_tb ut on ut.user_id = pt.user_id
            left outer join follow_tb ft on ft.following_id = pt.user_id and not ft.following_id = #{userId}

        where

            ft.follower_id = #{userId}
            or pt.user_id = #{userId}

        order by

            pt.created_at desc
        limit #{startIndex}, #{size}),

        temp_post_tb2 as
        (select
            pt.post_id,
            pt.content,
            pt.visibility,
            pt.user_id as pt_user_id,
            pt.created_at,

            ut.user_id,
            ut.nickname,
            ut.img_url,

            ft.follow_id,
            ft.follower_id,
            ft.following_id

        from
            post_tb pt
            left outer join user_tb ut on ut.user_id = pt.user_id
            left outer join follow_tb ft on not ft.following_id = pt.user_id and ft.follower_id = #{userId}

        where
            ft.follower_id is null
            and pt.visibility = 'Public'

        order by
            rand(),
            created_at desc
        limit 0, 2)

        select
            *
        from
            temp_post_tb tpt
            left outer join image_file_tb ift on ift.reference_id = tpt.post_id and ift.category = 'post'

        union

        select
            *
        from
            temp_post_tb2 tpt2
            left outer join image_file_tb ift on ift.reference_id = tpt2.post_id and ift.category = 'post'
        order by
            5 desc;
    </select>
    <select id="getTotalCount" resultType="java.lang.Integer">
        select
            count(*)
        from
            post_tb pt
            left outer join follow_tb ft on ft.following_id = pt.user_id
        where
            ft.follower_id = #{userId};

    </select>
</mapper>